@mixin animLoadLoggers {
  @keyframes load {
    from {
      transform: translate(-50%, -50%) translateY(-10px);
      opacity: 0;
    }
    to {
      transform: translate(-50%, -50%) translateY(0);
      opacity: 1;
    }
  }
}
